@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-stack: "Roboto Mono";
$bg-color: #030012;
$bg-color-transparent: #08081f95;
$hover-color: rgba(10,65,224,1);




/* color: #131010; */
/* background-color: #080225; */