@import "variables";
@import "header";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: $bg-color;
  font-family: $font-stack;
}

.btn-cv{
  border: 1px solid white;
  border-radius: 12px;
  width: 130px;
  padding: 6px;
  &:hover{
    background: radial-gradient(circle, rgba(10,65,224,1) 49%, rgba(111,135,255,1) 100%);
    border: none;
  }
}

.container-links{
  i{
    &:hover{
      background: linear-gradient(circle, rgba(10,65,224,1) 49%, rgba(111,135,255,1) 100%);
      -webkit-background-clip: text;
    }
  }
}
