@import "variables";
@import "header";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: $bg-color;
  font-family: $font-stack;
}

.btn-cv{
  &:hover{
    background: $hover-color;
    border-color: $hover-color;
  }
}

.container-links{
  i{
    &:hover{
      color: $hover-color;
    }
  }
}
